<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CG3300</key>
	<string>router_cg3300_icon</string>
	<key>CGD24G</key>
	<string>router_cgd24g_icon</string>
	<key>DG834</key>
	<string>router_dg834_icon</string>
	<key>DG834G</key>
	<string>router_dg834g_icon</string>
	<key>DG834GT</key>
	<string>router_dg834gt_icon</string>
	<key>DG834GV</key>
	<string>router_dg834gv_icon</string>
	<key>DG834N</key>
	<string>router_dg834n_icon</string>
	<key>DG834PN</key>
	<string>router_dg834pn_icon</string>
	<key>DGN1000_RN</key>
	<string>router_dgn1000_rn_icon</string>
	<key>DGN2000</key>
	<string>router_dgn2000_icon</string>
	<key>DGN2200</key>
	<string>router_dgn2200_icon</string>
	<key>DGN2200M</key>
	<string>router_dgn2200m_icon</string>
	<key>DGN3500</key>
	<string>router_dgn3500_icon</string>
	<key>DGNB2100</key>
	<string>router_dgnb2100_icon</string>
	<key>DGND3300</key>
	<string>router_dgnd3300_icon</string>
	<key>DGND3700</key>
	<string>router_dgnd3700_icon</string>
	<key>DGND4000</key>
	<string>router_dgnd4000_icon</string>
	<key>DM111P</key>
	<string>router_dm111p_icon</string>
	<key>DM111PSP</key>
	<string>router_dm111psp_icon</string>
	<key>JWNR2000</key>
	<string>router_jwnr2000_icon</string>
	<key>JWNR2000T</key>
	<string>router_jwnr2000t_icon</string>
	<key>JWNR3000</key>
	<string>router_jnr3000_icon</string>
	<key>JWNR3200T</key>
	<string>router_jnr3210_icon</string>
	<key>MBM621</key>
	<string>router_mbm621_icon</string>
	<key>MBR1210-1BMCNS</key>
	<string>router_mbr1210_1bmcns_icon</string>
	<key>MBR624GU</key>
	<string>router_mbr624gu_icon</string>
	<key>MBRN3000</key>
	<string>router_mbrn3000_icon</string>
	<key>R6200</key>
	<string>router_r6200_icon</string>
	<key>R6300</key>
	<string>router_r6300_icon</string>
	<key>RP614</key>
	<string>router_rp614_icon</string>
	<key>WGR612</key>
	<string>router_wgr612_icon</string>
	<key>WGR614</key>
	<string>router_wgr614_icon</string>
	<key>WGR614L</key>
	<string>router_wgr614l_icon</string>
	<key>WGT624</key>
	<string>router_wgt624_icon</string>
	<key>WNB2100</key>
	<string>router_wnb2100_icon</string>
	<key>WNDR3300</key>
	<string>router_wndr3300_icon</string>
	<key>WNDR3400</key>
	<string>router_wndr3400_icon</string>
	<key>WNDR3700</key>
	<string>router_wndr3700_icon</string>
	<key>WNDR37AV</key>
	<string>router_wndr37av_icon</string>
	<key>WNDR3800</key>
	<string>router_wndr3800_icon</string>
	<key>WNDR4000</key>
	<string>router_wndr4000_icon</string>
	<key>WNDR4500</key>
	<string>router_wndr4500_icon</string>
	<key>WNDR4700</key>
	<string>router_wndr4700_icon</string>
	<key>WNDRMAC</key>
	<string>router_wndrmac_icon</string>
	<key>WNR1000</key>
	<string>router_wnr1000_icon</string>
	<key>WNR2000</key>
	<string>router_wnr2000_icon</string>
	<key>WNR2200</key>
	<string>router_wnr2200_icon</string>
	<key>WNR3500</key>
	<string>router_wnr3500_icon</string>
	<key>WNR3500L</key>
	<string>router_wnr3500l_icon</string>
	<key>WNR500</key>
	<string>router_wnr500_icon</string>
	<key>WNR612</key>
	<string>router_wnr612_icon</string>
	<key>WNR834B</key>
	<string>router_wnr834b_icon</string>
	<key>WNR834M</key>
	<string>router_wnr834m_icon</string>
	<key>WNR854T</key>
	<string>router_wnr854t_icon</string>
	<key>WNXR2000</key>
	<string>router_wnxr2000_icon</string>
	<key>WPN824</key>
	<string>router_wpn824_icon</string>
	<key>WPN824EXT</key>
	<string>router_wpn824ext_icon</string>
	<key>WPN824N</key>
	<string>router_wpn824n_icon</string>
</dict>
</plist>
